<app-logo></app-logo>
<mat-nav-list>
  <mat-list-item class="sidenav-element">
    <mat-icon>home</mat-icon>
    Ana Sayfa
  </mat-list-item>
  <mat-list-item class="sidenav-element">
    <mat-icon>search</mat-icon>
    Ara
  </mat-list-item>
  <mat-list-item class="sidenav-element">
    <mat-icon>list</mat-icon>
    Kitaplığın
  </mat-list-item>
  <div class="subheader" mat-subheader>Çalma Listeleri</div>
  <mat-list-item class="sidenav-element">
    <mat-icon>add_box</mat-icon>
    Çalma Listesi Oluştur
  </mat-list-item>
  <mat-list-item class="sidenav-element">
    <mat-icon>favorite</mat-icon>
    Beğenilen Şarkılar
  </mat-list-item>
  <mat-divider style="margin-right: 20px !important; margin-left: 20px;"></mat-divider>


</mat-nav-list>
