mat-nav-list {
  padding-top: 0px;
}

mat-icon {
  transform: scale(1.2);
  margin-right: 20px;
}

.sidenav-element {
  padding-left: 8px !important;
  padding-right: 8px !important;
  height: 40px;
  font-size: small;
  font-weight: bold;

  .active {
    background-color: #282828;
  }
}

.subheader {
  text-transform: uppercase;
  letter-spacing: 1.76px;
}

