<mat-toolbar>
  <button class="nav-buttons-active" mat-mini-fab>
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button class="nav-buttons-active" mat-mini-fab>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button class="order-btn" mat-stroked-button>Yükselt</button>
  <button class="profile-btn" mat-stroked-button>
    <img alt="profile picture" src="../../../assets/img/logo-small.png">
    fishuke
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

</mat-toolbar>
